
*{
  box-sizing: border-box;
  font-family: Franklin Gothic Medium;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  justify-content: center;
  /* margin: 20px 100px;  */
}

/* ====== main ======= */
/* main {
display: grid;
display: flex;
/* display: flex; */
/* justify-content: center; */
/* margin: 20px 100px; */
/* }  */ 
#parent{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 5px solid rgb(34, 32, 32);
  /* height:50%; */
  /* width: 100%; */
  grid-gap: 20px;
  padding: 10px;
  margin: 100px;


}
#child-el1{
 background-color:black;
/* height: 100px; */
height:100%;
display: flex;
align-items: center;
justify-content: center;
position:relative;
width:100%;
}
#child-el2{
background-color: rgb(9, 9, 9);
display: flex;
align-items: center;
justify-content: center;
position:relative;
width:100%;

}
#child-el3{
  background-color: rgb(9, 9, 9);
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  width:100%;

}
#child-el4{
      background-color: rgb(9, 9, 9);
      /* grid-column: 2/4; */
      display: flex;
align-items: center;
justify-content: center;
position:relative;
width:100%;

}
/* ========small screen======= */
@media screen and (max-width: 700px){
#parent {
grid-template-columns:[first] 100%;
grid-template-rows: [first] 38% [second] 24% [third] 21% [fourth] 20%;
padding: 0px 0px;
margin: 100px 5px;
border: none;
height: 1100px;
width: 100%;
}
}
@media screen and (max-width: 1500px){
  #grandchild1 h1{
  font-size: 10px;
  margin: 0;
  padding:0;
  }
  }
@media screen and (max-width: 1500px){
    #grandchild1 p{
    font-size: 10px;
    margin:0;
    padding:0;
    }
    }
@media screen and (max-width: 1500px){
      #grandchild4 p{
      font-size: 12px;
      }
      }
 @media screen and (max-width: 1500px){
        .imagetext3 h1{
        font-size: 10px;

        }
        }
 @media screen and (max-width: 1500px){
        #imagegrandchild3{
        width: 50%;
        
        }
        }
 
 /* ===== small screen virtual chat==== */

 @media screen and (max-width: 1500px){
  #chat-boot-lbl label {
   font-size: 8px;
   margin: 0;
   padding: 0;

  }
}
@media screen and (max-width: 1500px){
  #chat-boot-lbl button {
   font-size: 9px;
   padding: 0px 0px;
   border: none;
   margin: 0px 0px;
   text-align: left;
  }
}
@media screen and (max-width: 1500px){
  input[type="text"]{
   font-size: 9px;
   /* background-color: rgb(195, 24, 24); */
    border: 1px solid white;
    border-bottom: 1px solid grey;
/* border-radius: 1%; */
  width: 50%;
  height: 7%;
  }
}
@media screen and (max-width: 1500px){
  #chatlist{
    overflow: hidden;
    transition: 0.5s;
    margin: 1px 1px;
    width: 100%;
    background-color: azure;
    position: absolute;
    z-index: 2;
    height: 500px;
    /* border: 5px solid black; */
    /* left: 75%; */
    border-radius: 5%;
  }
}


/* ======== grandchild ======= */
#grandchild1{
background-color: black;
margin: 5px 5px;
width: 90%;
height: 90%;
position: absolute;
z-index: 50;

}
#grandchild1 a{
text-decoration: none;
list-style: none;
color:white;
}
#grandchild1 h1{
margin: 10px 5px;
color:white;
padding: 5px;

}
#grandchild1 p{
  margin: 25px 10px;
  color: white;
  text-align: justify;
  text-indent: 25px;
  color: white;
  padding: 10px;
}
#grandchild2{
margin: 2px 2px;
width: 90%;
position: relative;
}
#imagegrandchild2{
height: 250px;
width: 100%;
border: 8px solid rgb(15, 8, 8);
object-fit: cover;
object-position: 50% 50%;
background-color: rgb(8, 8, 8);
animation-name: box;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite; 
border-radius: 10%;
position:relative;
}

#grandchild3{
margin: 2px 2px;
width: 90%;
position: relative;
text-align: left;
}
#imagegrandchild3{
height: 230px;
border: 8px solid rgb(15, 8, 8);
object-fit: cover;
object-position: 50% 50%;
background-color: rgb(8, 8, 8);
animation-name: box;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite; 
border-radius: 50%;
}
.imagetext3{
/* background-color: rgb(9, 9, 9); */
position: fixed;
margin: 5px 5px;
padding: 0;
color:white;
position: absolute;
font-size: 10px;
top: 30%;
left: 55%;
}
/* ======= Animation=========== */
@keyframes box{
  0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
0%{background-color: rgb(251, 250, 250); }
25% {background-color:rgb(177, 176, 177); } 
50% {background-color:rgb(123, 123, 123);  } 
75% {background-color:rgb(39, 38, 38); } 
100% {background-color:rgb(18, 18, 18);  } 
0%{border-color: rgb(162, 160, 160); }
25% {border-color:rgb(133, 132, 133);  } 
50% {border-color:rgb(80, 81, 80);   } 
75% {border-color:rgb(39, 38, 38); } 
100% {border-color:rgb(7, 7, 7); } 
}

#grandchild4{
background-color: rgb(9, 9, 9);
margin: 5px 5px;
width: 90%;
height: 90%;
color: white;
position: relative;
}
#grandchild4 p{
display:flex;
width: 100%;
color: white;
text-indent: 30px;
text-align: justify;
padding: 15px;
}

.chat-btn{
display: block;
  margin: 0px 0px;
  padding: 5px 10px;
  width: 150px;
  font-weight: 400;
  border: 1px solid white;
  background-color: black;
  color:white;

}
.chat-btn:hover {
background-color: white;
color: black;
cursor: pointer;
display: block;
}


/* =======Header Part====== */
/* ================ Header Section ================ */
header {
  display: flex;
  justify-content: center;
  margin: 0px 100px;
  background-color: rgb(9, 9, 9);
  /* padding: 14px 20px; */
  text-decoration: none;
  text-align: center;
  /* position:relative; */
  
}
header h2{
color:white;
display:flex;
position:relative;
justify-content: center;
margin: 0px 100px;
text-decoration: none;

}
.parentheader{
position: relative;
text-align: center;
color: white;
width: 100%;
height: 350px;
}
.childheader{
display: flex;
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
}
.childheader h2{
font-size: 60px;
font-stretch: expanded;
color: 10px solid rgb(249, 250, 251);
animation-name: headbox;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
@media screen and (max-width: 700px){
.childheader > h2{
  font-size: 15px;
  flex-direction: column;

}
}
@keyframes headbox{
0%{ left: 0px; top:0px}
25% { left:50px; top:0px;  } 
50% { left:50px; top:50px;  } 
75% {left:0px; top:50px;  } 
100% { left:0px; top:0px;  } 
}
#imgheader{
 width: 100%;
height: 350px;
object-fit: cover;
object-position: 50% 50%;
border: 20px solid rgb(249, 250, 251);
animation-name: imagehead;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes imagehead{
  0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
0%{border-color: rgb(245, 245, 247);}
25% {border-color:rgb(55, 55, 56); } 
50% {border-color:rgb(42, 42, 45);} 
75% {border-color:rgb(37, 37, 41);} 
100% {border-color:rgb(7, 7, 7);} 
}

nav{

  position: sticky;
  z-index: 100;
  top: 0px;
  left: 0px;
  list-style: none;
  background-color: black;
margin: 20px 100px;
}
nav > ul {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  text-align: center;
 
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: flex;

}
.btn {
    text-align: center;
  font-size: 16px;    
}

.nav-link {
  list-style: none;
  padding: 14px 20px;
  text-align: center;
}

.nav-link:hover {
  background-color: white;
  cursor: pointer;
}
nav ul li a:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}


@media screen and (max-width: 700px){
  nav > ul {
    font-size: 5px;
    /* flex-direction: row; */
    display: flex;
    width:100%;
    
    justify-content: center;
  }
}
@media screen and (max-width: 700px){
nav ul li a{
  display: flex;
  justify-content: center;
}
}
@media screen and (max-width: 700px){
nav {
  font-size: 5px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding:3px 3px;
  margin: 5px 5px;
}
}
@media screen and (max-width: 700px){
.btn {
  display: flex;
  justify-content: center;
  padding:3px 3px;
  margin: 1px 1px;
  /* font-size: 5px; */
}
}
@media screen and (max-width: 700px){
.nav-link {
    font-size: 12px;
    flex-direction: row; 
    display: flex;
    justify-content: center;
    width: 20%;
   padding:3px 3px;
    margin: 1px 1px;
  }
}
/*====================== form chat ======================= */
#chatList {
overflow: hidden;
transition: 0.5s;
margin: 5px 5px;
width: 500px;
background-color: azure;
position: absolute;
z-index: 200;
height: 350px;
/* border: 5px solid black; */
/* left: 75%; */
border-radius: 5%;
}
#chat-boot-lbl{
  height: 48%;
  width: 100%;
  background-color: black;
  /* border: 2px solid white; */
  color:white;
}
#chat-div{
/* overflow: hidden; */
/* transition: 0.5s; */
margin: 15px 2px;
/* padding: 1px, 1px; */
width: 99%;
/* background-color: azure; */
position: absolute;
/* z-index: 2; */
height: 500px;

}
#chat-div p{

  display: inline-block;
  font-size: 15px;
  color: white;
  text-align-last: right;
  /* left: 10px;
  display: absolute; */
}
.fa-robot{
  font-size: 24px;
  /* left: 10px;
display:absolute; */

}
.contact{
  display: block;
  width: 250px;
  border: 1px solid white;
  background-color: black;
  color:white;
}
.contact:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  }
.email{
  display: block;
  width: 250px;
  border: 1px solid white;
  background-color: black;
  color:white;
}
.email:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  }

.book{
  display: block;
  width: 250px;
  border: 1px solid white;
  background-color: black;
  color:white;
}
.book:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  }
 .chat-reply{
      width: 95px;
      height: 32px;
      background-color: black;
      color:white;
      font-size: 22px;
 } 
 .chat-reply:hover{
  background-color: white;
  color: black;
  cursor: pointer;
} 

/* ==== calendar ====  */
#calendarBook {
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  background-color: white;
  position: absolute; 
  z-index: 50;
  height: 600px;
 
  }
 
form input{
background-color: whitesmoke;
border: 2px solid white;
border-bottom: 5px solid grey;
border-radius: 5%;
width: 80%;
height: 10%;

}


/* =========Footer============== */
#foot {
/* display: flex; */
justify-content: center;
/* margin: 20px 100px; */
background-color: black;
/* text-decoration: none; */
text-align: center;
color: white;
/* padding: 6px 6px;
margin: 5px 5px; */
Width: 100%;
height: 100%;
position:relative;
/* left: 0px;
bottom: 500px; */
/* z-index: 1; */
}

@media screen and (max-width: 700px){
footer h3{
  position: absolute;
  width: 100%;
  /* background-color: rgb(10, 10, 10); */
  color: rgb(249, 247, 247);
  text-align: center;
  justify-content: center;
  
   
 }
}

#footer-contact {
  
  Width: 100%;
  height: 130px;
  background-color: aqua;
  margin: 0;
  padding: 0;
  position:relative;

}
.fa-brands{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5px 320px;
  color:blue;
  
}

.fa-brands:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
@media screen and (max-width: 700px){
  .fa-brands{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5px 80px;
    
     
   }
  }
 

/* ========== portfolio=========== */
#slideshow-container-form {
  width: 87%;
  position: relative;
  margin: auto;
  background-color: black;
  position:relative;

}
/* ==== Size of Image and Position Slide ==== */
.imgSlide {
  vertical-align: middle;
  width: 100%;
  height: 450px;
  
}

/* ===== Slideshow container ====== */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  position: relative;
}

/* ===== Next & previous buttons ==== */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* =========== hover for arrow in slide images portfolio ========= */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* ======= Caption text on slide images ===== */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 18px;
  margin: 1px 1px;
  position: absolute;
  bottom: 8px;
  width: 99%;
  text-align: center;
  background-color: black;
  
}

/* ======== The dots at the bottom of images =========*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: blue;
  color: white;
}

/*===== animation and style of slide images ==== */
.mySlides {
  display: none;
  border: 5px solid black;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ====== Small Screen for portfolio========== */
@media only screen and (max-width: 700px) {
  .prev, .next,.text {
  font-size: 9px;
  margin: 0;
  padding: 0;
}
}





